@use "./base.scss";

// put your custom CSS here!

/* Add a border to the Search button in the sidebar */
.search-button {
  border: 1px solid var(--gray) !important;
  /* Optional: Make the text inside a bit darker too */
  color: var(--darkgray) !important; 
}

/* Optional: Add a border to the input box inside the popup modal */
.search-container input {
  border: 1px solid var(--gray) !important;
}

/* Hide the date in Folder and Tag lists */
.section-li .section p.meta {
  display: none !important;
}

/* Fix spacing so the title doesn't look pushed down */
.section-li .section .desc {
  margin-top: 0 !important;
}

/* Prevent wrapping in Page Lists */
.section-li > .section {
  white-space: nowrap;
}

/* Hide the folder named "Glossary" in the sidebar */
button[data-folderpath="glossary"], 
button[data-folderpath="Glossary"] {
    display: none !important;
}

/* Also hide the list of files inside it if expanded */
div[data-folderpath="glossary"],
div[data-folderpath="Glossary"] {
    display: none !important;
}
