@use "./base.scss";

// put your custom CSS here!

/* Add a border to the Search button in the sidebar */
.search-button {
  border: 1px solid var(--gray) !important;
  /* Optional: Make the text inside a bit darker too */
  color: var(--darkgray) !important; 
}

/* Optional: Add a border to the input box inside the popup modal */
.search-container input {
  border: 1px solid var(--gray) !important;
}

/* Remove dates from the list of notes in Folders/Tags */
.section-li .meta .date {
  display: none !important;
}

/* Optional: Adjust spacing if the removal makes it look gappy */
.section-li .meta {
  margin-top: 0;
}
